.log {
    opacity: 1; 
    width: 600px; 
    height: auto; 
    margin-bottom: 80px; 
    display: inline-block;
    animation: 8s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s 1 normal both running text-focus-in;
}

h2 {
    font-size: 50px;
}

.micasa_logo {
    width: 65px;
    height: auto;
    display: none;
}

footer {
    padding-bottom: 30px !important;
}

@media (max-width:767px) {
    .log{
        width:300px!important;      
      }
}

.circle:hover {
    border: 2px #dbab83 solid;
  }

.colors-h .background-20,
.colors-h.background-20 {
    background-color: rgba(15, 14, 14, .2) !important;
}


.hover-overlay:hover img {
    transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
}

.show-list .slogan {
    padding-bottom: 50px !important;
    padding-top: 50px !important;
}

#numb {
    color: #fff !important;
    font-weight: 500;
    font-size: 16px !important;
    position: relative;
    margin-left: 30px;
    top: 9.6px;
    border: rgba(231, 188, 131, 0.748) solid 1.5px;
    padding: 8px 14px;
    opacity: 0.9;
}

.photo {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.middle {
    display: inline-block;
    width: 55px;
    height: 55px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    color: #fff;
    overflow: hidden;
    position: relative;
}

.middle i {
    line-height: 55px;
    font-size: 28px;
    transition: 0.2s linear;
    color: #DBAB83;
}

.middle:hover i{
    transform: scale(1.3);
    color: #fff;
}

.middle::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #DBAB83;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.middle:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
    left: -110%;
    top: 90%;
    }50%{
    left: 10%;
    top: -30%;
    }100%{
    top: -10%;
    left: -10%;
        }
    }

@media only screen and (max-width: 768px) {
    .middle {
        width: 50px;
        height: 50px;
    }

    .middle i {
        line-height: 50px;
        font-size: 22px;
        transition: 0.2s linear;
        color: #DBAB83;
    }
}




/*  ---------------------------  */


